:root {
  --primary-color: #afeeee;
  --secondary-color: #808080;
  --bg-color: #222222;
  --text-shadow-color: #90f4fd1c;
  --font-family: Orbitron, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  overflow: hidden;
  min-height: 100vh;
  color: var(--primary-color);
  font: 500 2rem var(--font-family);
  background-color: var(--bg-color);
  text-shadow: 0 0 2rem var(--text-shadow-color);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}

.full-time {
  display: flex;
}

#time {
  font-size: 2.5rem;
}

#am-pm {
  font-size: 1.5rem;
  margin-left: 1rem;
  padding-top: 1rem;
}

.days {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.day {
  font-size: 1.9rem;
  color: var(--secondary-color);
  margin: 0 0.5rem;
}

::selection {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

/* loader start */
#loadingDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: var(--primary-color);
}

.loader {
  width: 6.1rem;
  height: 6.1rem;
  background: center / contain no-repeat url(../img/loader.gif);
}
/* loader end */

/* media queries start */
@media screen and (max-width: 900px) {
  html {
    font-size: 9px;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 7px;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 6px;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 5px;
  }
}
/* media queries end */
